#pulseaudio-button { padding: 6px 6px; }
#xfce4-power-manager-plugin { padding: 6px 6px; }

/*Header bar fix for ugly Gnome csd*/
GtkHeaderBar {
padding: 3px;
background-color: #c0c0c0;
border-bottom: 1px solid #FFF;
border-right: none;
box-shadow: inset 0px -1px #808080;
color: black;
}

GtkHeaderBar GtkMenuButton,
GtkHeaderBar GtkButton,
GtkHeaderBar GtkBox GtkLabel {
color: black;
}