/* NOTES to contributors:
 * use 4 spaces indents, and keep code ALIGNED and ORDERED */

/* default */
* {
    -GtkArrow-arrow-scaling: 0.6;
    -GtkButton-child-displacement-x: 1;
    -GtkButton-child-displacement-y: 1;
    -GtkButton-default-border: 0;
    -GtkButton-image-spacing: 5;
    -GtkButton-inner-border: 3;
    -GtkButton-interior-focus: false;
    -GtkButtonBox-child-min-height: 24;
    -GtkButtonBox-child-internal-pad-y: 1;
    -GtkCheckButton-indicator-size: 15;
    -GtkCheckMenuItem-indicator-size: 16;
    -GtkExpander-expander-size: 8;
    -GtkNotebook-initial-gap: 1;
    -GtkNotebook-tab-overlap: 0;
    -GtkHTML-link-color: @link_color;
    -GtkIMHtml-hyperlink-color: @link_color;
    -GtkMenu-horizontal-padding: 0;
    -GtkMenu-vertical-padding: 5px;
    -GtkMenu-horizontal-offset: -8px;
    -GtkPaned-handle-size: 6;
    -GtkProgressBar-min-horizontal-bar-height: 16;
    -GtkProgressBar-min-vertical-bar-width: 16;
    -GtkRange-slider-width: 16;
    -GtkRange-stepper-spacing: 0;
    -GtkRange-stepper-size: 16;
    -GtkRange-trough-border: 0;
    -GtkRange-trough-under-steppers: 1;
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true;
    -GtkScrollbar-min-slider-length: 80;
    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkScrolledWindow-scrollbars-within-bevel: 1;
    -GtkStatusbar-shadow-type: none;
    -GtkTextView-error-underline-color: @error_color;
    -GtkToolButton-icon-spacing: 6;
    -GtkToolItemGroup-expander-size: 8;
    -GtkTreeView-expander-size: 8;
    -GtkWidget-focus-line-width: 1;
    -GtkWidget-focus-padding: 0;
    -GtkWidget-link-color: @link_color;
    -GtkWidget-visited-link-color: @link_color;
    -GtkWindow-resize-grip-height: 0;
    -GtkWindow-resize-grip-width: 0;
    -WnckTasklist-fade-overlay-rect: 0;

    background-clip: padding-box;

    outline-color: #808080;
    outline-style: solid;
    outline-offset: 0;
}

/***************
 * base states *
 ***************/
.background {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}
 
* {
    /* inherit colors from parent */
    color: inherit;
    background-color: inherit;
}

*:selected,
*:selected:focus {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
    
  
}

*:insensitive,
*:insensitive:insensitive {
    color: #808080;
    text-shadow: 1px 1px 0 white;
}

/* apply effects to insensitive and prelit images 
*:insensitive {
    -gtk-image-effect: dim;
}
*/
/*
*:hover {
    background-color: none; 
}
*/


.gtkstyle-fallback {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

.gtkstyle-fallback:prelight {
    background-color: shade(@theme_bg_color, 1.1);
    color: @theme_fg_color;
}

.gtkstyle-fallback:active {
    background-color: shade(@theme_bg_color, 0.9);
    color: @theme_fg_color;
}

.gtkstyle-fallback:insensitive {
    background-color: shade(shade(@theme_bg_color, 0.95), 1.05);
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

.gtkstyle-fallback:selected {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

GtkImage,
GtkImage:insensitive,
GtkLabel,
GtkLabel:insensitive,
GtkBox,
GtkBox:insensitive,
GtkGrid,
GtkGrid:insensitive,
GtkScrolledWindow {
    background-color: transparent;
}

GtkVBox GtkBox{
    background-color: @bg_color;
}

GtkPrintUnixDialog GtkBox {
background-color: @bg_color;
}

/******************
 * visual effects *
 ******************/
/* transitions 
.button {
     transition: border 100ms ease-in-out; 
}

.entry {
    transition: border 100ms ease-out;
}

.entry:focus {
    transition: border 100ms ease-in;
}

.entry.image.left {
    padding-right: 4px;
}

.notebook tab GtkLabel,
.notebook .prelight-page,
.notebook .prelight-page GtkLabel,
.notebook .active-page,
.notebook .active-page GtkLabel {
    transition: all 200ms ease-in;
}
*/

/* inset shadows
.button:active,
.primary-toolbar .button:active,
.toolbar .button:active,
.header-bar .button:active,
.notebook.header {
    box-shadow: inset 10px 0 alpha(@dark_shadow, 0.07),
                inset 0 1px alpha(@dark_shadow, 0.08),
                inset -1px 0 alpha(@dark_shadow, 0.07),
                inset 0 -1px alpha(@dark_shadow, 0.05);
} 

.entry {
    box-shadow: 
}


.button:active *:insensitive,
.primary-toolbar .button:active *:insensitive,
.toolbar .button:active *:insensitive,
.header-bar .button:active *:insensitive,
.entry:insensitive {
    box-shadow: none;
}
 */

/*************
 * assistant *
 *************/
GtkAssistant .sidebar .highlight {
    font: bold;
}

GtkAssistant .sidebar {
    padding: 4px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-right-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
    background-color: @theme_bg_color;
    color: mix(@theme_fg_color, @theme_bg_color, 0.1);
}

/**********
 * button *
 **********/
.button {
    padding: 6px 6px 6px 6px;
    border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: inset -1px -1px 0px 0px #808080,
                inset 1px 1px 0px 0px #FFFFFF;
    color: black;
    background-color: #c0c0c0;

}

GtkButton {
    padding: 6px 6px 6px 6px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0px;
    color: black;
    background-color: #c0c0c0;
}

.button:hover {
    background-image: none;
}

.button:active,
GtkButton:not(GtkCheckButton):active,
GtkToggleButton:not(GtkCheckButton):checked,
GtkToggleButton:not(GtkCheckButton):insensitive {
    -GtkWidget-focus-padding: 1;
    -GtkWidget-focus-line-width: 1;
    padding: 6px 6px 6px 6px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 0;
    box-shadow: inset 1px 1px 0px 0px #808080;
    background-color: #c0c0c0;
    background-image: none;
}

GtkCheckButton {
    padding: 0px;
}

GtkMenuButton {
    padding: 4px;
}



/*********
 * focus *
 *********/

.button:focus,
.button:hover:focus,
.button:active:focus,
.button:active:hover:focus,
.button:checked:focus,
.button:checked:hover:focus {
    outline: 1px dotted black;
    outline-radius: 0;
    outline-offset: -3px;
} 

*:focus {
    outline: 1px dotted black;
    outline-radius: 0;
    outline-offset: -1px;
}

.notebook:focus {
    outline: 1px dotted black;
    outline-radius: 0;
    outline-offset: 1px;
} 
/* .button:active:hover {
    border-color: shade(@theme_selected_bg_color, 0.7);
}*/

/*******************
 * cell and row *
 *******************/

.cell {
    border-width: 0;
    border-style: solid;
    border-radius: 0;
}

.cell:selected,
.cell:selected:focus {
    background-color: @theme_selected_bg_color;
}

row:selected,
row:selected:hover,
row:selected:focus {
    -GtkWidget-focus-padding: 1;
    -GtkWidget-focus-line-width: 0;
}

/*******************
 * check and radio *
 *******************/
.check,
.radio,
.check:insensitive,
.radio:insensitive {
    border-style: none;
}

GtkCheckButton:hover,
GtkCheckButton:active:hover,
GtkCheckButton:selected,
GtkCheckButton:selected:focus {
    background-color: transparent;
}

/*****************
 * column-header *
 *****************/

column-header .button {
    padding: 6px 6px 6px 6px;
    border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: inset -1px -1px 0px 0px #808080,
                inset 1px 1px 0px 0px #FFFFFF;
    color: black;
    background-color: #c0c0c0;
}

column-header .button:active {
    padding: 6px 6px 6px 6px;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    box-shadow: inset 1px 1px 0px 0px #808080;
    color: black;
    background-color: #c0c0c0;
}


/****************
 * content view *
 ****************/

.content-view.view {
    background-color: @theme_base_color;
}

.content-view.view:prelight {
    background-color: alpha(@theme_selected_bg_color, 0.6);
}

.content-view.view:selected,
.content-view.view:active {
    background-color: @theme_selected_bg_color;
}

.content-view.view:insensitive {
    background-color: shade(@theme_base_color, 0.9);
}

GdMainIconView.content-view {
    -GdMainIconView-icon-size: 40;
}

GtkIconView.content-view.check {
    background-color: transparent;
}

GtkIconView.content-view.check:active {
    background-color: transparent;
}

.content-view.view.check,
.content-view.view.check:active {
    background-color: transparent;
}

GtkIconView.content-view.check:prelight,
GtkIconView.content-view.check:insensitive,
GtkIconView.content-view.check:selected {
    background-color: transparent;
}

/****************
 * drawing area *
 ****************/

GtkDrawingArea {
    background-color: transparent;
}

GtkDrawingArea:insensitive {
    background-color: shade(@theme_base_color, 0.9);
}

/***********
 * gtkhtml *
 ***********/

GtkHTML {
    background-color: @theme_base_color;
    color: @theme_text_color;
}

/***********
* calendar *
************/

GtkCalendar {
    padding-left: 1px;
    padding-top: 1px;
    padding-right: 1px;
    outline-offset: -1px;
    background-color: white 
}


GtkCalendar:inconsistent {
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

GtkCalendar.view {
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    background-image: none;
}

GtkCalendar.highlight {
    border-width: 1px;
    border-color: red;
    border-left: 1px solid red;
    background-color: transparent;
    color: @theme_selected_bg_color;
}

GtkCalendar.header {
   border: 1px solid white;
   border-right: 1px solid #808080;
   border-bottom: 1px solid #808080;
   border-radius: 0px;
   background-color: #c0c0c0;
   color:  black;  /* x11 color "Indigo" (a dark purple)*/
}

GtkCalendar.button {
    border-radius: 0;
    box-shadow: 0 0 0;
    border-width: 0;
}

GtkCalendar.highlight {
    
    color: black;            
}

GtkCalendar:selected {
    background-color: #c0c0c0;
    color:    white; 

}

GtkComboBox.combobox-entry .menu {
     padding: 0px;
     background-color: #c0c0c0;
     color:@fg_color;
}

/*********
 * entry *
 *********/

.entry {
    padding: 4px;
    background-color: @base_color;
    border-left: 1px solid #808080;
    border-top: 1px solid #808080;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    box-shadow: inset 1px 1px #000000,
                inset -1px -1px #c0c0c0;
    color: @fg_color;
}

.entry:active,
.entry:focus {
    background-color: #FFF;
}

.entry:selected,
.entry:selected:focus {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;;
}

.entry:insensitive {
    background-color: @bg_color;
    color: #808080;
    background-image: none;
}

.entry.progressbar .entry.progressbar:insensitive {
    background-color: red;
    background-image: none;
    color: @theme_selected_bg_color;
}

/************
 * expander *
 ************/

GtkTreeView expander:dir(ltr) {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
    color: @theme_fg_color;
}
GtkTreeView expander:dir(rtl) {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
    color: @theme_fg_color;
}

.expander,
.expander:hover,
.expander:active {
    background-color: @bg_color;
}

/****************
 * List Box *
 ***************/

GtkListBox {
    background: white;
}

GtkListBox GtkBin:not(GtkButton) {
    border: 1px solid transparent;
    box-shadow: none;
}

GtkListBox GtkBin GtkLabel,
GtkListBox GtkBin {
    color: black;
}

GtkListBox GtkBin:selected GtkLabel {
    color: white;
}

GtkListBox GtkBin:selected,
GtkListBox GtkBin:selected GtkImage {
    background: #000080;
    color: white;
}

/*********
 * frame *
 *********/
.frame {
    padding: 0px;
    border: 2px solid @frame_color;
    border-radius: 0;
    border-image: url('frame/trough.png') 2 2 2 2;
}

/************
 * iconview *
 ************/

GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focus {
    border-width: 1px;
    border-style: solid;
    border-color: yellow;
    border-radius: 0px;
    background-color: @theme_selected_bg_color;
    background-image: none;
    color: @theme_selected_fg_color;
}

.content-view.view.rubberband,
.view.rubberband,
.rubberband {
    border-width: 0;
    border-style: solid;
}

/***********
 * infobar *
 ***********/

GtkInfoBar {
    border: 1px solid black;
    border-style: none;
}

/* The Info bar uses the colors and button layout from clippy! */

.info {
    border: 1px solid black;
    border-radius: 15px;
    background-color: @info_bg_color;
    background-image: none;
    color: @info_fg_color;
}

.info .button {
    padding:2px;
    border: 1px solid #b2b2b2;
    background-color:  @info_bg_color;
    border-radius: 15px;
    color: @info_fg_color;
}

.warning .button {
    padding:2px;
    border: 1px solid #b2b2b2;
    background-color:  @warning_bg_color;
    border-radius: 15px;
    color: @warning_fg_color;
}

.question .button {

    padding:2px;
    border: 1px solid #b2b2b2;
    background-color:  @question_bg_color;
    border-radius: 15px;
    color: @question_fg_color;
}

.error .button {
    padding:2px;
    border: 1px solid #b2b2b2;
    background-color:  @error_bg_color;
    border-radius: 15px;
    color: @error_fg_color;
}

.info .button:hover,
.warning .button:hover,
.question .button:hover,
.error .button:hover  {
    box-shadow: inset 3px 3px white, inset 1px 1px #868686, inset -1px -1px #868686;
}

.info .button:active,
.warning .button:active,
.question .button:active,
.error .button:active  {
     box-shadow: inset 3px 3px white, inset 1px 1px #868686, 2px 2px white;
}

.warning {
    border-width: 1px;
    border-style: solid;
    background-color: @warning_bg_color;
    background-image: none;
    color: @warning_fg_color;
}

.question {
    border-width: 1px;
    border-style: solid;
    background-color: @question_bg_color;
    background-image: none;
    color: @question_fg_color;
}

.error {
    border-width: 1px;
    border-style: solid;
    background-color: @error_bg_color;
    border-radius: 15px;
    color: @error_fg_color;
}

/*******************
 * symbolic images *
 *******************/
.image {
    color: alpha(currentColor, 0.5);
}

.image:hover {
    color: alpha(currentColor, 0.9);
}

.image:selected,
.image:selected:hover {
    color: @theme_selected_fg_color;
}

.view.image,
.view.image:hover {
    color: alpha(currentColor, 0.9);
}

.view.image:selected,
.view.image:selected:hover {
    color: @theme_selected_fg_color;
}

/*****************
 * miscellaneous *
 *****************/
.floating-bar {
    padding: 3px;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #000000;
    box-shadow: inset 1px 1px #FFFFFF,
                inset -1px -1px #808080;
    border-radius: 0px;
    background-color: #c0c0c0;
    background-image: none;
    color: @theme_fg_color;
}

.floating-bar .button {
    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 0;
    border-style: none;
    background-color: transparent;
    background-image: none;
}

.view.dim-label,
.dim-label {
    color: alpha(currentColor, 0.5);
}

.dnd {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_selected_bg_color, 0.9);
}

.grip {
    background-color: transparent;
}

.arrow {
    color: alpha(currentColor, 0.7);
}

/********
 * menu *
 ********/

GtkTreeMenu.menu,
GtkMenuToolButton.menu,
GtkComboBox .menu {
    background-color: @menu_bg_color;
}

.primary-toolbar .menu,
.primary-toolbar .button .menu,
.toolbar .menu,
.toolbar .primary-toolbar .menu,
.header-bar .menu,
.header-bar .primary-toolbar .menu {
    padding: 0px;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #000000;
    box-shadow: inset 1px 1px #FFFFFF,
                inset -1px -1px #808080;
    background-color: @menu_bg_color;
    color: @menu_fg_color;
}

.menu {
    padding: 0px;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #000000;
    box-shadow: inset 1px 1px #FFFFFF,
                inset -1px -1px #808080;
    background-color: @menu_bg_color;
    color: @menu_fg_color;
}

/* Hover-effect on play-button in ubuntu soundmenu 
.menu:selected {
    background-color: @selected_bg_color;
}
*/
.menu.button:hover,
.menu.button:active,
.menu.button:active *:insensitive,
.menu.button:insensitive,
.menu.button {
    background-color: transparent;
    background-image: none;
}

.context-menu {
    font: initial;
}

/* ubuntu software center menu */
toolbar-popup {
    background-color: @menu_bg_color;
    color: @menu_fg_color;
}

/***********
 * menubar *
 ***********/

.menubar {
    -GtkWidget-window-dragging: true;
    border-style: none;
    background-color: @menubar_bg_color;
    background-image: none;
    color: @menubar_fg_color;
}

/***************
 * menubaritem *
 ***************/

.menubar .menuitem {
    padding: 3px 7px;
    color: @menubar_fg_color;
}

.menubar .menuitem:hover {
    
    background-color: @selected_bg_color;
    background-image: none;
    color: @selected_fg_color;
}

.menubar .menuitem *:hover {
    border-color: red yellow blue green;
}

/************
 * menuitem *
 ************/

GtkTreeMenu .menuitem {
    border-width: 0;
}

.menuitem {
    background-color: transparent;
    background-image: none;
}

.menuitem,
.menu .menuitem {
    -GtkMenuItem-arrow-scaling: 0.5;
    padding: 4px;
    color: @menu_fg_color;
}

.menu .menuitem:active,
.menu .menuitem *:active,
.menu .menuitem:hover,
.menu .menuitem *:hover {
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

.menu .menuitem:insensitive,
.menu .menuitem *:insensitive {
    color: #808080;
}

.menuitem.check,
.menuitem.radio,
.menuitem.check:hover,
.menuitem.radio:hover,
.menuitem.check:insensitive,
.menuitem.radio:insensitive {
    border-style: none;
    background-image: none;
}

.menuitem.check:active,
.menuitem.radio:active {
    border-style: none;
    background-color: @theme_selected_fg_color;
}

.menuitem GtkCalendar:inconsistent {
    color: mix(@menu_fg_color, @menu_bg_color, 0.5);
}

.menuitem GtkCalendar.button {
    border-style: none;
    background-color: transparent;
    background-image: none;
}

.menuitem .entry {
    border-color: shade(@bg_color, 0.6);
    background-color: @menu_bg_color;
    background-image: none;
    color: @menu_fg_color;
}

.menuitem .entry:active,
.menuitem .entry:focus {
    border-color: shade(@selected_bg_color, 0.6);
}

GtkModelMenuItem GtkBox GtkImage {
    padding-right: 4px;
}

/************
 * popovers *
 ************/

GtkPopover {

    padding: 5px;
    margin: 3px;
    border-radius: 8px;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    box-shadow: 3px 3px #808080;
    background-color: @info_bg_color;
    color: @theme_fg_color;
}
GtkPopover.background {
    background-image: none;
    background-color: @info_bg_color;
}

GtkPopover.osd {
    box-shadow: 3px 3px #808080;
}

GtkPopover > .list,
GtkPopover > .view,
GtkPopover > .toolbar {
    background-color: @info_bg_color; 
}

GtkPopover.osd > .toolbar .button {
    border-radius: 0;
    border-width: 0px;
    background-image: none;
}

GtkPopover .separator {
    background-color: red;
    color: @fg_color;
}

GtkPopover GtkBox {
    background-color:  @info_bg_color;
}

GtkModelButton.button,
GtkModelButton.button:insensitive
{
    /*background-color: transparent; */
    background-image: none;
    padding:2px;
    border: 1px solid #b2b2b2;
    background-color:  @info_bg_color;
    border-radius: 15px;
    color: @theme_fg_color;
}

GtkModelButton GtkBox {
    background-color:  @info_bg_color;
}

GtkModelButton:hover GtkBox {
    background-color:  white;
}

GtkModelButton.button:hover {
    box-shadow: inset 3px 3px white, inset 1px 1px #868686, inset -1px -1px #868686; 
    background-color: white;
}

GtkModelButton.button:active:hover,
GtkModelButton.button:active,
GtkModelButton.button:selected,
GtkModelButton.button:active:insensitive  {
    background-image: none;
    padding:2px;
    border: 1px solid #b2b2b2;
    background-color:  @info_bg_color;
    border-radius: 15px;
    color: @theme_fg_color;
    box-shadow: inset 3px 3px white, inset 1px 1px #868686, 2px 2px white;
}

/************
 * notebook *
 ************/

.notebook {
    -GtkNotebook-initial-gap: 0;
    -GtkNotebook-tab-overlap: 4;
    -GtkNotebook-tab-curvature: 5;
    -GtkWidget-focus-line-width: 1;
    -GtkWidget-focus-padding: 0;
    padding: 0;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.notebook.frame.top {
    padding: 0;
    border: 2px solid;
    border-radius: 0;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
border-image: url('frame/notebook_frame_top.png') 2 2 2 2;
    box-shadow: inset -1px -1px 0 #868686;
}

.notebook.frame.bottom {
    padding: 0;
    border: 2px solid;
    border-radius: 0;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
border-image: url('frame/notebook_frame_bottom.png') 2 2 2 2;
    box-shadow: inset -1px 0px 0 #868686;
}

.notebook.frame.left {
    padding: 0;
    border: 2px solid;
    border-radius: 0;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
border-image: url('frame/notebook_frame_top.png') 2 2 2 2;
    box-shadow: inset -1px -1px 0 #868686;
}

.notebook.frame.right {
    padding: 0;
    border: 2px solid;
    border-radius: 0;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
border-image: url('frame/notebook_frame_right.png') 2 2 2 2;
    box-shadow: inset 0px -1px 0 #868686;
}


.notebook.header {
    border-width: 0px;
    background-color: @bg_color;
}

.notebook.header.frame {
    border-color: shade(@theme_base_color, 0.75);
}

.notebook.header.frame.top {
    border-width: 0px 0px 0px 0px;
    box-shadow: none;
}

.notebook.header.frame.right {
    border-width: 0 0 0 0;
    box-shadow: none;
}

.notebook.header.frame.bottom {
    border-width: 0 0px 0px 0px;
    box-shadow: none;
}

.notebook.header.frame.left {
    border-width: 0 0 0 0;
    box-shadow: none;
}

.notebook GtkViewport {
    border-width: 0;
    background-color: @theme_base_color;
    color: @theme_text_color;
}

.notebook tab {
    box-shadow: none;
}

.notebook tab.top,
.notebook tab.bottom {
    padding: 5px 12px;
}

.notebook tab.left,
.notebook tab.right {
    padding: 7px 10px;
}

.notebook tab.top:active,
.notebook tab.bottom:active {
    padding: 6px 12px;
}

.notebook tab.left:active {
    padding: 7px 10px 7px 12px;
}

.notebook tab.right:active {
    padding: 7px 12px 7px 10px;
}

.notebook tab {
    border-color: transparent;
    border-style: solid;
    border-image-repeat: stretch;
}

.notebook tab.top {
    border-width: 8px 5px 1px 5px;
    border-image: url("Notebook/tab-top.png");
    border-image-slice: 8 5 1 5;
}

.notebook tab.bottom {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-width: 0 5px 5px 5px;
    border-image: url("Notebook/tab-bottom.png");
    border-image-slice: 0 5 5 5;
}

.notebook tab.left {
    border-width: 6px 0 7px 7px;
    border-image: url("Notebook/tab-left.png");
    border-image-slice: 6 0 7 7;
}

.notebook tab.right {
    border-width: 6px 7px 7px 0;
    border-image: url("Notebook/tab-right.png");
    border-image-slice: 6 7 7 0;
}

.notebook tab.top:active {
    border-width: 8px 5px 0 5px;
    border-image: url("Notebook/tab-top-active.png");
    border-image-slice: 8 5 0 5;
}

.notebook tab.bottom:active {
    box-shadow: inset 0px 0px 0 #868686;
    border-image: url("Notebook/tab-bottom-active.png");
    border-image-slice: 0 5 5 5;
}

.notebook tab.left:active {
    border-image: url("Notebook/tab-left-active.png");
    border-image-slice: 6 0 7 7;
}

.notebook tab.right:active {
    border-image: url("Notebook/tab-right-active.png");
    border-image-slice: 6 7 7 0;
}

.notebook tab GtkLabel {
    color: @fg_color;
}

.notebook .active-page,
.notebook tab .active-page GtkLabel {
    color: @theme_text_color;
}

/* close button styling */
.notebook tab .button,
.notebook tab .button:active,
.notebook tab .button:hover {
    padding: 1px;
    border-width: 0px;
    border-radius: 0px;
    border-style: solid;
    box-shadow: none;
    background-image: none;
    background-color: transparent;
    color: @theme_text_color;
}

.notebook tab .button:hover {
    color: @theme_text_color;

}

.notebook tab .button:active,
.notebook tab .button:active:hover {
    border-color: shade(@theme_base_color, 0.7);
    background-color: shade(@theme_base_color, 0.95);
}

/******************
 * pane separator *
 ******************/

.pane-separator {
    background-color: @theme_bg_color;
    color: transparent;
}

/*************************
 * progressbar and scale *
 *************************/

GtkProgressBar {
    padding: 3px;
    border-width: 1px;
    border-radius: 0px;
}

.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focus {
    background-image: none;
    background-color: @progressbar_color; 
    box-shadow:none;
}
 
.progressbar.vertical {
    background-image: none;
    background-color: @progressbar_color;
}

.trough,
.trough row,
.trough row:hover,
.trough row:selected,
.trough row:selected:focus {
    border-width: 1px;
    border-style: solid;
    border-color: #808080 #fff #fff #808080;
    background-color: @theme_bg_color;
    background-image: none;
}

.trough.vertical {
    background-color: @theme_bg_color;
    background-image: none;
}

/* level bars as used for password quality or remaining power */
GtkLevelBar {
    -GtkLevelBar-min-block-width: 6;
    -GtkLevelBar-min-block-height: 2;
}

GtkLevelBar.vertical {
    -GtkLevelBar-min-block-width: 2;
    -GtkLevelBar-min-block-height: 6;
}

.level-bar.trough {
    padding: 1px;
    border-radius: 0px;
}

.level-bar.fill-block {
    border-width: 1px;
    border-style: solid;
    background-color: @theme_selected_bg_color;
}

.level-bar.indicator-continuous.fill-block {
    padding: 1px;
    border-radius: 0px;
}

.level-bar.indicator-discrete.fill-block.horizontal {
    margin: 0 1px;
}

.level-bar.indicator-discrete.fill-block.vertical {
    margin: 1px 0;
}

.level-bar.fill-block.level-high {
    border-color: shade(@success_color, 0.85);
    background-image: linear-gradient(to bottom,
                                      shade(@success_color, 1.2),
                                      @success_color 75%,
                                      shade(@success_color, 0.95)
                                      );
}

.level-bar.fill-block.level-low {
    border-color: shade(@warning_color, 0.80);
    background-image: linear-gradient(to bottom,
                                      shade(@warning_color, 1.3),
                                      @warning_color 75%,
                                      shade(@warning_color, 0.9)
                                      );
}

.level-bar.fill-block.empty-fill-block {
    border-color: alpha(@theme_fg_color, 0.1);
    background-color: transparent;
    background-image: none;
}

.scale {
    -GtkRange-slider-width: 21;
    -GtkRange-trough-border: 0;
    -GtkScale-slider-length: 11;
}

.scale.slider,
.scale.slider:hover {
    border-radius: 0px;
    background-color: @theme_bg_color;
    background-image: none;
    /* we will draw the border using box shadow for now */
    padding: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #FFF #000 #000 #FFF;
    box-shadow: inset -1px -1px #808080;
    border-radius: 0px; 
}

.scale.slider:insensitive {
    /* Makes a checkerboard */
    background-color: white;
    background-image: linear-gradient(45deg, #c0c0c0 25%, transparent 25%, transparent 75%, #c0c0c0 75%, #c0c0c0), 
    linear-gradient(45deg, #c0c0c0 25%, transparent 25%, transparent 75%, #c0c0c0 75%, black);
    background-size:2px 2px;
    background-position:0 0, 1px 1px
}

/*
.scale.slider:hover {
    box-shadow: inset 1px 0 shade(@theme_bg_color, 0.7),
                inset 0 1px shade(@theme_bg_color, 0.7),
                inset -1px 0 shade(@theme_bg_color, 0.7),
                inset 0 -1px shade(@theme_bg_color, 0.7);
}

.scale.slider:insensitive {
    background-color: @theme_bg_color;
    background-image: none;
    box-shadow: inset 1px 0 shade(@theme_bg_color, 0.85),
                inset 0 1px shade(@theme_bg_color, 0.85),
                inset -1px 0 shade(@theme_bg_color, 0.85),
                inset 0 -1px shade(@theme_bg_color, 0.85);
}
*/

.scale.slider.fine-tune:active,
.scale.slider.fine-tune:active:hover,
.scale.slider.fine-tune.horizontal:active,
.scale.slider.fine-tune.horizontal:active:hover {
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
}

.scale.mark {
    border-color: #000;
}

.scale.trough {
    margin: 9px 0;
    border-width: 1px 1px 1px 1px;
    border-color: #808080 #FFF #FFF #808080;
    border-radius: 0px;
    background-color: @bg_color;
    box-shadow: inset 1px 1px #000;
    background-image: none;
}

.scale.trough.vertical {
    margin: 0 9px;
}

.menuitem .scale.highlight.left,
.scale.highlight.left {
    background-image: none;
}

.menuitem .scale.highlight.left:hover {
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color;
}

.scale.highlight.bottom {
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color;
    background-image: none;
}

.scale.trough:insensitive,
.scale.highlight.left:insensitive {
    background-image: none;
}

/*************
 * scrollbar *
 *************/

.scrollbar {
    padding: 16px;
    border-width: 0px;
    border-style: solid;
    padding: 0;

}

.scrollbar.trough {
    border-width: 0;
    border-radius: 0;
    background-color: shade(@theme_bg_color, 0.9);
    background-image: none;
    background-color: #fff;
    /* This makes a square-checkerboard */
    background-image: linear-gradient(45deg, #c0c0c0 25%, transparent 25%, transparent 75%, #c0c0c0 75%, #c0c0c0), 
    linear-gradient(45deg, #c0c0c0 25%, transparent 25%, transparent 75%, #c0c0c0 75%, black);
    background-size:2px 2px;
    background-position:0 0, 1px 1px
}

.scrollbars-junction {
    border-width: 1px;
    border-style: solid;
    border-color: #c0c0c0;
    border-radius: 0;
    background-color: #c0c0c0;
    box-shadow: none
}

.scrollbar.button{
    border-width: 1px;
    border-style: solid;
    border-color: #c0c0c0 #000 #000 #c0c0c0;
    border-radius: 0;
    background-color: #c0c0c0;
    box-shadow: inset 1px 1px #FFF, inset -1px -1px #808080;
}

.scrollbar.button:active,
.scrollbar.button:active:hover  {
    /* TODO: Fix padding so the arrow moves */
    border-width: 1px;
    border-style: solid;
    border-color: #808080;
    border-radius: 0;
    background-color: #c0c0c0;
   box-shadow: none;


}

.scrollbar.slider {
    border-width: 1px;
    border-color: #c0c0c0 #000 #000 #c0c0c0;
    border-radius: 0;
    background-color: #c0c0c0;
    box-shadow: inset 1px 1px #FFF, inset -1px -1px #808080;
}

/* overlay scrollbar */
OsThumb {
    color: @theme_bg_color;
}

OsThumb:selected,
OsScrollbar:selected {
    background-color: @theme_selected_bg_color;
}

OsThumb:active,
OsScrollbar:active {
    background-color: @theme_selected_bg_color;
}

OsThumb:insensitive,
OsScrollbar:insensitive {
    background-color: @theme_bg_color;
}

/*************
 * separator *
 *************/

.sidebar.view.separator,
.view.separator,
.separator {
    border-width: 1px;
    border-style: solid;
    border-color: red;
    color: #808080;
}

.button .separator,
.button.separator {
    border-color: #808008;
}

.button .separator:insensitive,
.button.separator:insensitive {
    border-color: #808080;
}

.primary-toolbar GtkSeparatorToolItem,
.primary-toolbar .separator,
.primary-toolbar .separator:insensitive,
.toolbar GtkSeparatorToolItem,
.toolbar .separator,
.toolbar .separator:insensitive {
    -GtkWidget-window-dragging: true;
    border-color:#808080;
    color: #808080;
}

.header-bar GtkSeparatorToolItem,
.header-bar .separator,
.header-bar .separator:insensitive,
.titlebar GtkSeparatorToolItem,
.titlebar .separator,
.titlebar .separator:insensitive {
    -GtkWidget-window-dragging: true;
    border-color: red yellow blue green;
    color: #808080;
}

.primary-toolbar .button .separator,
.primary-toolbar .button.separator,
.toolbar .button .separator,
.toolbar .button.separator {
    border-color: #808080;
}

.header-bar .button .separator,
.header-bar .button.separator,
.titlebar .button .separator,
.titlebar .button.separator {
    border-color: #808080;
}

.primary-toolbar .button .separator:insensitive,
.primary-toolbar .button.separator:insensitive,
.toolbar .button .separator:insensitive,
.toolbar .button.separator:insensitive {
    border-color: #808080;
}

.header-bar .button .separator:insensitive,
.header-bar .button.separator:insensitive,
.titlebar .button .separator:insensitive,
.titlebar .button.separator:insensitive {
    border-color: #808080;
}

.menuitem .separator {
    -GtkMenuItem-horizontal-padding: 0;
    -GtkWidget-separator-height: 2;

    border-style: none;
    color: #808080;
}

GtkComboBox .separator {
    /* always disable separators */
    -GtkWidget-wide-separators: true;
    -GtkWidget-horizontal-separator: 0;
    -GtkWidget-vertical-separator: 0;
    border-style: none;
}

/***********
 * sidebar *
 ***********/

.sidebar,
.sidebar.view,
.sidebar .view,
.sidebar GtkScrolledWindow {
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: none;
}

.sidebar row:selected,
.sidebar row:selected:hover,
.sidebar row:selected:focus,
.sidebar .view row:selected,
.sidebar .view row:selected:hover,
.sidebar .view row:selected:focus {
   /* border-color: none; */
    background-color: @theme_selected_bg_color;
    background-image: none;
    color: @theme_selected_fg_color;
}

/*addition start*/
.sidebar-item {
  padding: 10px 4px; }
  .sidebar-item > Gtklabel {
    padding-left: 6px;
    padding-right: 6px; }
  .sidebar-item.needs-attention > Gtklabel {
    background-size: 6px 6px, 0 0; }

/* -------------
NEW ON GTK 3.18
---------------*/

GtkSidebarRow.list-row {
    padding: 0px;
}

GtkSidebarRow .sidebar-revealer {
    padding: 1px 14px 1px 12px;
}

GtkSidebarRow .sidebar-icon:dir(ltr) {
    padding-right: 8px;
}

GtkSidebarRow .sidebar-icon:dir(rtl) {
    padding-left: 8px;
}

GtkSidebarRow .sidebar-label:dir(ltr) {
    padding-right: 2px;
}

GtkSidebarRow .sidebar-label:dir(rtl) {
    padding-left: 2px;
}

.sidebar-button.button.image-button {
    padding: 3px;
    border-radius: 0;
    box-shadow: 0px 0px 0px alpha(@dark_shadow,0)
}

.sidebar-button.button:not(:hover):not(:active) > GtkImage {
    opacity: 0.5;
}

.sidebar-item {
    padding: 5px;
}

.sidebar-item > GtkLabel {
    padding-left: 6px;
    padding-right: 6px;
}

.sidebar-item.needs-attention > GtkLabel {
    background-size: 6px 6px, 0 0;
}

/*************
 * overshoot *
 *************/
.overshoot.top {
    background: none;
}

.overshoot.right {
    background: none;
}

.overshoot.bottom {
    background: none;
}

.overshoot.left {
    background: none;
}

/**************
 * undershoot *
 **************/
.undershoot.top {
    background: none;
}

.undershoot.right {
    background: none;
}

.undershoot.bottom {
    background: none;
}

.undershoot.left {
    background: none;
}

/**************
 * spinbutton *
 **************/

.spinbutton .button {
    color: @theme_text_color;
    padding: 2px 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #c0c0c0 #000 #000 #c0c0c0;
    border-radius: 0;
    background-color: #c0c0c0;
    box-shadow: inset 1px 1px #FFF, inset -1px -1px #808080;
    background-image: none;
}


.spinbutton .button:insensitive {
    color: #808080;
    text-shadow: 1px 1px 0 white;
}


.spinbutton .button:active {
    border-width: 1px;
    border-style: solid;
    border-color: #808080;
    border-radius: 0;
    background-color: #c0c0c0;
    background-image: none;
    box-shadow:none;
}

.spinbutton .button:first-child {
    border-radius: 0px 0 0 0px;
    box-shadow: none;
}

.spinbutton .button:last-child {
    border-radius: 0 0px 0px 0;
}

.spinbutton.vertical .button {
    color: @theme_text_color;
    padding: 2px 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #c0c0c0 #000 #000 #c0c0c0;
    border-radius: 0;
    background-color: #c0c0c0;
    box-shadow: inset 1px 1px #FFF, inset -1px -1px #808080;
    background-image: none;
}

.spinbutton.vertical .button:hover {
    background-image: none;
}

.spinbutton.vertical .button:active {
    border-width: 1px;
    border-style: solid;
    border-color: #808080;
    border-radius: 0;
    background-color: #c0c0c0;
    background-image: none;
    box-shadow:none;
    background-image: none;
}

.spinbutton.vertical .button:insensitive {
    color: #808080;
    text-shadow: 1px 1px 0 white;
    background-image: none;
}

.spinbutton.vertical .button:first-child {
    border-width: 1px;
    border-bottom-width: 0;
    border-radius: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.spinbutton.vertical .button:last-child {
    border-width: 1px;
    border-top-width: 0;
    border-radius: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.spinbutton.vertical.entry {
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
}



/***********
 * spinner *
 ***********/

/*
@keyframes spinner {
    00.0% { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.70)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.40)), to(transparent)); }

    10.0% { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.80)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.90)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.60)), to(transparent)); }

    20.0% { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.60)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.90)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.80)), to(transparent)); }

    30.0% { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.40)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.70)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)); }

    40.0% { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.20)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.50)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.80)), to(transparent)); }

    50.0% { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(transparent), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.30)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.60)), to(transparent)); }

    60.0% { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.20)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.10)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.40)), to(transparent)); }

    70.0% { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.40)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.10)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.20)), to(transparent)); }

    80.0% { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.60)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.30)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(transparent), to(transparent)); }

    90.0% { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.80)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.50)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.20)), to(transparent)); }

    100%  { background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.70)), to(transparent)),
                              -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.40)), to(transparent)); }
}

.spinner {
    background-color: transparent;
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                      -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                      -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent));

    background-position: 0% 70%, 33% 70%, 70% 70%;
    background-size: 30% 30%;
    background-repeat: no-repeat;
}

.spinner:active {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(currentColor), to(transparent)),
                      -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.70)), to(transparent)),
                      -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(currentColor, 0.40)), to(transparent));

    animation: spinner 1s infinite linear;
}

.menu.spinner,
.menu .spinner,
.menu .spinner:hover,
.primary-toolbar .spinner {
    color: @theme_selected_bg_color;
    border: none;
    box-shadow: none;
}

*/
/*************
 * statusbar *
 *************/

GtkStatusbar {
    padding: 4px;
    color: @theme_fg_color;
}

/**********
 * switch *
 **********/

GtkSwitch {
    -GtkWidget-focus-line-width: 0;
    border-radius: 8px;
    padding: 0;
}

.menu GtkSwitch.trough,
.toolbar.menubar GtkSwitch.trough,
.primary-toolbar .toolbar GtkSwitch.trough,
.primary-toolbar.toolbar GtkSwitch.trough,
GtkSwitch.trough,
GtkSwitch.trough:insensitive,
GtkSwitch.trough:backdrop {
    border: none;
    border-image: none;
    background: none;
    color: transparent;
    box-shadow: none;
    background-image: url("assets/switch-off.svg");
    background-size: 44px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    text-shadow: none;
}

GtkSwitch.trough {
    background-image: url("assets/switch-off.svg");
}

GtkSwitch.trough:active {
    background-image: url("assets/switch-on.svg");
}

GtkSwitch.trough:insensitive {
    background-image: url("assets/switch-off-disabled.svg");
}

GtkSwitch.trough:active:insensitive {
    background-image: url("assets/switch-on-disabled.svg");
}


.toolbar.menubar GtkSwitch.trough,
.primary-toolbar .toolbar GtkSwitch.trough,
.primary-toolbar.toolbar GtkSwitch.trough {
    background-image: url("assets/switch-dark-off.svg");
}

.toolbar.menubar GtkSwitch.trough:active,
.primary-toolbar .toolbar GtkSwitch.trough:active,
.primary-toolbar.toolbar GtkSwitch.trough:active {
    background-image: url("assets/switch-dark-on.svg");
}

.toolbar.menubar GtkSwitch.trough:insensitive,
.primary-toolbar .toolbar GtkSwitch.trough:insensitive,
.primary-toolbar.toolbar GtkSwitch.trough:insensitive {
    background-image: url("assets/switch-dark-off-disabled.svg");
}

.toolbar.menubar GtkSwitch.trough:active:insensitive,
.primary-toolbar .toolbar GtkSwitch.trough:active:insensitive,
.primary-toolbar.toolbar GtkSwitch.trough:active:insensitive {
    background-image: url("assets/switch-dark-on-disabled.svg");
}

GtkSwitch.slider {
    border: none;
    border-image: none;
    background: none;
    color: transparent;
    box-shadow: none;
}

/************
 * textview *
 ************/

GtkTextView {
    background-color: @theme_base_color;
    color: @theme_text_color;
}

/*****************
 * color chooser *
 *****************/

GtkColorSwatch,
GtkColorSwatch:selected {
    border-width: 1px;
    border-style: solid;
    border-color: #c0c0c0 #000 #000 #c0c0c0;
    border-radius: 0px;
    background-color: transparent;
    background-clip: border-box;
}

GtkColorSwatch:hover,
GtkColorSwatch:selected:hover {
    border-color: alpha(black, 0.3);
}

GtkColorSwatch.color-dark:hover {
}

GtkColorSwatch.color-light:hover {
}

GtkColorSwatch.color-light:selected:hover,
GtkColorSwatch.color-dark:selected:hover {
    background-image: none;
}

GtkColorSwatch.left,
GtkColorSwatch:first-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

GtkColorSwatch.right,
GtkColorSwatch:last-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

GtkColorSwatch:only-child {
    border-radius: 0px;
}

GtkColorSwatch.top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

GtkColorSwatch.bottom {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

GtkColorChooserWidget #add-color-button {
    background-clip: padding-box;
    border-color: alpha(black, 0.1);
    background-color: shade(@theme_bg_color, 0.95);
    color: @theme_fg_color;
}

GtkColorChooserWidget #add-color-button:hover {
    border-color: alpha(black, 0.3);
    background-color: shade(@theme_bg_color, 0.90);
    color: @theme_fg_color;
}

.color-active-badge,
.color-active-badge:selected {
    border-width: 1px;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
}

.color-active-badge.color-light,
.color-active-badge.color-light:hover {
    border-color: #808080;
    color: #000;
}

.color-active-badge.color-dark,
.color-active-badge.color-dark:hover {
    border-color: #000;
    color: #808080;
}

GtkColorEditor GtkColorSwatch {
    border-radius: 0px;
}

GtkColorEditor GtkColorSwatch.color-dark:hover,
GtkColorEditor GtkColorSwatch.color-light:hover {
    background-image: none;
    border-color: alpha(black, 0.3);
}

GtkColorButton.button,
GtkColorButton.button:active {
    padding: 2px;
}

/**************
 * header-bar *
 **************/
/* Commenting thes out for now since they were causing padding issues with menu buttons being activated
.header-bar {
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent; 
    background-color: @bg_color;
    background-image: none;
    color: @titlebar_fg_color;
}

.header-bar .button.text-button {
    padding: 2px;
}

.header-bar .button.image-button {
    padding: 2px;
}

.header-bar .title {
    font: bold;
    padding: 0 12px;
}

.header-bar .subtitle {
    font: smaller;
    padding: 0 12px;
}
*/


/***********
 * toolbar *
 ***********/
.toolbar {
    padding: 1px;
    border-style: solid;
    border-width: 0px;

    background-color: @toolbar_bg_color;
    background-image: none;
    color: @toolbar_fg_color;
}

.toolbar .button {
    padding: 3px;

}

.toolbar .button.text-button {
    /* padding: 2px 4px;*/
}

.toolbar .button.image-button {
    /*padding: 4px 3px 3px 4px; */
}

/*
.toolbar:insensitive {
    background-color: shade(@toolbar_bg_color, 0.9);
    color: mix(@toolbar_fg_color, @toolbar_bg_color, 0.5);
}
*/
/* menubar toolbars */
.toolbar.menubar {
    -GtkToolbar-button-relief: normal;
}

/*******************
 * primary-toolbar *
 *******************/

.primary-toolbar,
.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
    -GtkWidget-window-dragging: true;
    padding: 4px;
    background-color: @toolbar_bg_color;
    background-image: none;
    color: @toolbar_fg_color;
}

.primary-toolbar GtkComboBox,
.primary-toolbar .button {
    padding: 1px;
    background-color: transparent;
    background-image: none;
    color: @toolbar_fg_color;
}

.primary-toolbar .raised .button,
.primary-toolbar .raised.button,
.toolbar GtkComboBox,
.toolbar .button {
    background-image: none;
}



.primary-toolbar .button:active,
.toolbar .button:active {
    /* background-image: none; */
}

.primary-toolbar .button:checked {
    background-image: none;
}

.primary-toolbar .button:active:hover,
.toolbar .button:active:hover {
    /* background-color: none; */
}

.primary-toolbar .button:focus,
.primary-toolbar .button:hover:focus,
.primary-toolbar .button:active:focus,
.primary-toolbar .button:active:hover:focus,
.toolbar .button:focus,
.toolbar .button:hover:focus,
.toolbar .button:active:focus,
.toolbar .button:active:hover:focus {
    border-color: transparent;
}

.primary-toolbar .button:insensitive,
.toolbar .button:insensitive {
    background-image: none;
}

.primary-toolbar .button:active *:insensitive,
.toolbar .button:active *:insensitive {
    border-color: transparent;
    background-image: none;
}

.primary-toolbar .entry,
.toolbar .entry {
    border-width: 1px;
    border-color: #c0c0c0;
}

.primary-toolbar .entry:active,
.primary-toolbar .entry:focus,
.toolbar .entry:active,
.toolbar .entry:focus {
    border-width: 1px;
    border-color: #c0c0c0;
}

/***********
 * tooltip *
 ***********/

.tooltip {
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    border-radius: 0px;
    background-color: @theme_tooltip_bg_color;
    background-image: none;
    box-shadow: none;
    color: @theme_tooltip_fg_color;
}

.tooltip * {
    background-color: @theme_tooltip_bg_color;
}

/************
 * treeview *
 ************/

GtkTreeView {
    -GtkTreeView-vertical-separator: 0;
    -GtkWidget-focus-line-width: 1;
    -GtkWidget-focus-padding: 1;
}

GtkTreeView.dnd {
    border-width: 1px;
    border-style: solid;
    border-color: @theme_selected_bg_color;
    border-radius: 0;
}

GtkTreeView .entry {
    border-radius: 0;
    background-color: @theme_base_color;
    background-image: none;
}

GtkTreeView {
color: #000000;
}

GtkTreeView *:selected {
color: #FFFFFF;
}

/************
 * viewport *
 ************/
GtkViewport.frame {
    border-width: 0;
}

.view {
    background-color: @theme_base_color;
    color: @theme_text_color;
}

GtkPrintUnixDialog > .view {
    background-color: @bg_color;
}

.view:insensitive,
.view:insensitive:insensitive {
    background-color: @bg_color;
    color: @fg_color;
}

.view:selected,
.view:selected:focus {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

/**************
 * action-bar *
 **************/
.action-bar {
    padding: 4px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    background-color: @theme_bg_color;
    background-image: none;
    color: @theme_fg_color;
}

.action-bar .button.text-button {
    padding: 4px;
}

.action-bar .button.image-button {
    padding: 1px;
}

.action-bar .title {
    font: bold;
    padding: 0 12px;
}

.action-bar .subtitle {
    font: smaller;
    padding: 0 12px;
}

/***************
 * search bars *
 ***************/

.search-bar {
    /*background-color: ;*/
}

.search-bar .button.close-button {
    padding: 4px;
}

/********************
 * various choosers *
 ********************/

GtkFontButton .separator,
GtkFileChooserButton .separator {
    /* always disable separators */
    -GtkWidget-wide-separators: true;
    -GtkWidget-horizontal-separator: 0;
    -GtkWidget-vertical-separator: 0;
}

/*********************
 * app notifications *
 *********************/

.app-notification {
    border-style: solid;
    border-color: #c0c0c0 #000 #000 #c0c0c0;
    border-width: 1px;
    border-radius: 0;
    padding: 8px;
    background-color: @bg_color;
    background-image: none;
    color: @theme_text_color;
    box-shadow: inset 1px 1px #FFF, inset -1px -1px #808080;
}

/*******
 * osd *
 *******/

.background.osd {
    color: @osd_fg;
    background-color: @osd_bg;
}

GtkOverlay.osd {
    background-color: transparent;
}

.osd.frame {
    background-clip: border-box;
    background-origin: border-box;
}

 /*used by gnome-settings-daemon's media-keys OSD */
.osd.trough {
    background-color: shade(@osd_bg, 0.8);
}

/* used by Documents */
.osd .page-thumbnail {
    border-style: solid;
    border-width: 1px;
    border-color: shade(@osd_bg, 0.9);
    /* when there's no pixbuf yet */
    background-color: @osd_bg;
}

/******************************
 * destructive action buttons *
 ******************************/

.destructive-action.button {
    border-radius: 0px;
    background-color: @error_color;
    background-image: none;
    color: mix(@theme_selected_fg_color, @error_color, 0.1);
}

.destructive-action.button:hover {
    background-color: shade(@error_color, 1.12);
    background-image: none;
}

.destructive-action.button:active {
    background-color: shade(@error_color, 0.87);
    background-image: none;
}

.destructive-action.button:hover:active {
    border-color: shade(@error_color, 0.7);
}

/******************************
 * suggested action buttons *
 ******************************/

.suggested-action.button {
    color: @info_fg_color;
    background-color: @info_bg_color;
}

/******************
 * selection mode *
 ******************/
.selection-mode.header-bar,
.selection-mode.toolbar {
    border-style: solid;
    background-color: @theme_selected_bg_color;
    background-image: none;
    color: @theme_selected_bg_color;
}

.selection-mode.header-bar {
    border-top-color: @theme_selected_bg_color;
    border-bottom-color: @theme_selected_bg_color;
}

.selection-mode.toolbar {
    padding: 4px;
}

/* selection mode items removed, default will be used */

/*************************
 * touch text selections *
 *************************/

GtkBubbleWindow {
    border-radius: 0px;
    background-clip: border-box;
}

GtkBubbleWindow.osd.background {
    background-color: @osd_bg;
}

GtkBubbleWindow .toolbar {
    background-color: transparent;
}

/*******
 * CSD *
 *******/

.titlebar {
    padding: 4px 7px; 
    border-radius: 0 0 0 0;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #c0c0c0 #000 #000 #c0c0c0;
    box-shadow: inset 4px 4px #c0c0c0, inset -4px -4px #c0c0c0,
                inset 1px 1px #FFF, inset -1px 0 #808080;
    background-color: @selected_bg_color;
    background-image: none;
    color: @selected_fg_color;
    text-shadow: none;
    
}

.titlebar .button {
padding: 4px;

}

.titlebar .button:backdrop {
    color: #c0c0c0;
}

.titlebar .button:checked {
padding: 4px;

}

.titlebar.default-decoration {
    border: none;
    box-shadow: none;
}

.tiled .titlebar {
    border-radius: 0;
}

.maximized .titlebar {
    border-radius: 0;
}

/* this is the default titlebar that is added by GTK
 * when client-side decorations are in use and the application
 * did not set a custom titlebar.
 */
.titlebar.default-decoration {
    border: 1px solid black;
    box-shadow: none;
}

.titlebar .title {
    font: sans;
}

.titlebar:backdrop {
    background-image: none;
    background-color: #808080;
    color: #c0c0c0;
    
    text-shadow: none;
}

/*.titlebar .titlebutton {
    padding: 0px;
    border: 0px;
    box-shadow: none;
    background-color: transparent;
    color: #FFF;
}

.titlebar .titlebutton:hover,
.titlebar .titlebutton:hover:focus {
    color: @selected_fg_color;

}

.titlebar .titlebutton:active,
.titlebar .titlebutton:active:hover {
    background: none;
    box-shadow: none;
}

.titlebar .titlebutton:backdrop {
    background-image: none;
    color: #c0c0c0;
    text-shadow: 1px 1px 0 white;
    icon-shadow: none;
    border-radius: 0;
}*/

.window-frame,
.window-frame:backdrop {
    /* this is used for the resize cursor area */
    margin: 2px;
}

.window-frame {
    border-radius: 0 0 0 0;
    box-shadow: none;
}

/* Server-side decoration (SSD) */
.window-frame.ssd {
    border-radius: 0 0 0 0;
    box-shadow: none; 
}

.window-frame.ssd,
.window-frame.ssd:backdrop {
    background-color: @titlebar_bg_color;
}

/* Client-side Decorations (CSD)*/
.window-frame.csd.tooltip {
    border-radius: 0;
    border: 1px solid black;
    box-shadow: none; 
}

.window-frame.csd.message-dialog {
    border-radius: 0;
    box-shadow: none; 
}

.window-frame.solid-csd {
     border: 1px solid blue;
     border-radius: 0;
     box-shadow: none; 
}

